header {
    background-color: #d9230f;
    margin-bottom: 1rem;
}

#masthead {
    padding-top: 60px;
    padding-bottom: 60px;
    color: #ffffff;
}

.navbar {
    padding: 0.5rem 0;
}
.navbar .nav-item .nav-link {
    padding: 0.5rem 0;
}
.navbar .nav-item:not(:last-child) {
    margin-right: 1rem;
}

body h1, h2, h3, h4, h5, h6, .nav-item {
    font-family: 'Lato', sans-serif !important;
}

body p {
    font-family: 'Libre Baskerville', serif !important;
}

a {
    color: #D9230F !important;
}

a:hover {
    text-decoration: underline;
}

.post-special-link {
    font-weight: bold;
}

.post-special-link:hover {
    text-decoration: bold;
}

/* For generating BibTex references */
input#show {
    display:none;
}

span.bibtex-content {
    display:none;
}

input#show:checked ~ span.bibtex-content {
  display:block;
}

footer {
    padding-bottom: 1rem;
}
